extends base.pug

block content
span=errorMessage
    form(method="POST")
            input(placeholder="Old Password", type="text", required)
            input(placeholder="New Password", type="text", required)
            input(placeholder="New Password Confirmed", type="text", )
            input(type="submit", value="Change Password")