extends ../base.pug

block content
    span=errorMessage
    form(method="POST")
            input(placeholder="Old Password", type="password", required, name="oldPassword")
            input(placeholder="New Password", type="password", required, name="newPassword")
            input(placeholder="New Password Confirmed", type="password", name="newPasswordConfirmed")
            input(type="submit", value="Change Password")